:root {
  --first-font: "Prompt", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

.whole-page {
  background-color: black;
  color: white;
  font-family: var(--secondary-font);
}

h1 {
  font-size: 95px;
  font-family: var(--first-font);
}

h2 {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 45px;
}

p {
  font-size: 20px;
}

img {
  width: 80%;
}

.main-page {
  padding: 150px 20px;
  color: white;
}

.container {
  margin-top: 70px;
}

@media (max-width: 850px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }

  .container {
    text-align: center;
  }
}
