:root {
  --first-font: "Prompt", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

.whole-page {
  background-color: black;
  color: white;
  font-family: var(--secondary-font);
}

h1 {
  font-size: 85px;
  font-family: var(--first-font);
}

h2 {
  font-family: var(--secondary-font);
  font-weight: bold;
}

.main-page {
  padding: 150px 20px;
  color: white;
}

.container {
  margin-top: 70px;
}
